{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "standard",
    "standard-react",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest"
  ]
}
